STInstaller.v12.suo
DeveloperUtilities/LightServerInstaller/bin
DeveloperUtilities/LightServerInstaller/obj
DeveloperUtilities/LightServerLib/bin
DeveloperUtilities/LightServerLib/obj
DeveloperUtilities/LightServerPatch/bin
DeveloperUtilities/LightServerPatch/obj
InstallerStudio/bin
InstallerStudio/obj
Samples/Plugins/ProgressMessageDemo/bin
Samples/Plugins/ProgressMessageDemo/obj
STInstaller/bin
STInstaller/obj
TestResults
UnitsTests/InstallerStudioTest/bin
UnitsTests/InstallerStudioTest/obj
UnitsTests/LightServerInstallerTest/bin
UnitsTests/LightServerInstallerTest/obj
UnitsTests/WixSTActionsTest/bin
UnitsTests/WixSTActionsTest/obj
UnitsTests/WixSTActionsTest/FakesAssemblies
WiXExtensions/WixSTActions/bin
WiXExtensions/WixSTActions/obj
WiXExtensions/WixSTExtension/bin
WiXExtensions/WixSTExtension/obj
WiXExtensions/WixSTLibrary/bin
WiXExtensions/WixSTLibrary/obj

/*.lnk
/*.xml
