<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:st="http://www.systemt.ru/STSchema">

  <?include Variables.wxi ?>

  <!-- Используем для реестра HKLM. Для замены на другую ветвь, нужно выполнить
  поиск по всему решению, так как данная ветвь используется в коде построения Msi,
  в диалоговых окнах Wix, при сохранении свойств Wix и прочее. -->
  
  <Fragment>
    <!-- Каталог в меню Пуск. Для удаления при деинсталляции. -->
    <DirectoryRef Id="ProgramMenuFamilyDir">
      <Component Id="ProgramMenuFamilyDirComponent" Guid="$(var.ProgramMenuFamilyDirComponentGuid)">
        <!-- Используется для удаления пользовательского каталога. -->
        <RemoveFolder Id="ProgramMenuFamilyDir" On="uninstall" />
        <!-- KeyPath - признак ключевой сущности, факт установки компонента контролируется по ее наличию или отсутствию. -->
        <!-- Так как компонент не содержит файлов, для контроля необходимо использовать запись в реестре. -->
        <RegistryValue Root="HKLM" Key="$(var.MainRegistryPath)" Name="ProgramMenuFamilyDir" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Каталог в меню Пуск. Для удаления при деинсталляции. -->
    <DirectoryRef Id="ProgramMenuProductDir">
      <Component Id="ProgramMenuProductDirComponent" Guid="$(var.ProgramMenuProductDirComponentGuid)">
        <!-- Используется для удаления пользовательского каталога. -->
        <RemoveFolder Id="ProgramMenuProductDir" On="uninstall" />
        <!-- KeyPath - признак ключевой сущности, факт установки компонента контролируется по ее наличию или отсутствию. -->
        <!-- Так как компонент не содержит файлов, для контроля необходимо использовать запись в реестре. -->
        <RegistryValue Root="HKLM" Key="$(var.MainRegistryPath)" Name="ProgramMenuProductDir" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Ярлык для переустановки программы в Пуске. -->
    <DirectoryRef Id="ProgramMenuProductDir">
      <Component Id="ReinstallComponent" Guid="$(var.ProgramMenuReinstallComponentGuid)">
        <Shortcut Id="ReinstallShortcut" Name="Изменение компонентов программы" Description="Позволяет изменить, восстановить и удалить компоненты программы."
          Target="[System64Folder]msiexec.exe" Arguments="/i [ProductCode]" />
        <RegistryValue Root="HKLM" Key="$(var.MainRegistryPath)" Name="ShortcutReinstall" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--DEVELOPMENT_INFO_BEGIN-->
    <!-- *** РЕЖИМНЫЕ НАСТРОЙКИ НАЧАЛО *** -->
    <?ifdef SERVER?>
    <?include ComponentsServer.wxi ?>
    <?endif?>
    <?ifdef CLIENT?>
    <?include ComponentsClient.wxi ?>
    <?endif?>
    <!-- *** РЕЖИМНЫЕ НАСТРОЙКИ КОНЕЦ *** -->
    <!--DEVELOPMENT_INFO_END-->
  </Fragment>
</Wix>